<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
  </head>
  <body>
    <h1>Admin Login</h1>
    <p>Enter the admin password to verify your credentials</p>
    <form action="admin" method="POST">
      <label for="admin-pass-input">Admin Password</label>
      <input
        type="password"
        id="admin-pass-input"
        name="admin-pass-input"
        required
      />
      <button type="submit">Submit</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>
