<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
  </head>
  <body>
    <h1>Create New Post</h1>
    <form action="/create-post" method="post">
      <label for="title-input">Title:</label>
      <input type="text" id="title-input" name="title-input" required />
      <label for="post-text-input">Message:</label>
      <textarea id="post-text-input" name="post-text-input" required></textarea>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
