<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Home</h1>
    <% if (!user) { %>
    <a href="/register">Register</a>
    <a href="login">Login</a>
    <% } else { %>
    <a href="create-post">New Post</a>
    <% }%> <% if (user && user.membership === false) { %>
    <a href="/membership">Become a member</a>
    <% } %>
    <h2>Posts</h2>
    <div>
      <% posts.forEach((post) => { %>
      <div>
        <% if (user && user.membership) { %>
        <p><%= post.name %></p>
        <% } else { %>
        <p>Club Member</p>
        <% } %>
        <p><%= post.text %></p>
      </div>
      <% }); %>
    </div>
    <footer>
      <% if (user && user.admin !== true) { %>
      <a href="/admin">Admin Login</a>
      <% } %>
    </footer>
  </body>
</html>
