<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Membership Failure</title>
  </head>
  <body>
    <h1>You have entered the wrong passcode</h1>
    <p><a href="/membership">Try again</a> or <a href="/">go to home</a></p>
  </body>
</html>
