<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Membership Success</title>
  </head>
  <body>
    <h1>Welcome to the club, <%= name %></h1>
    <p>
      We're so glad to have you as a member. Feel free to check out the
      exclusive benefits.
    </p>
    <a href="/">Go to home</a>
  </body>
</html>
