<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Success</title>
  </head>
  <body>
    <h1>Congratulations! You have successfully registered</h1>
    <p>Go to <a href="/">home</a> or <a href="/login">login</a></p>
  </body>
</html>
